apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "TU_USUARIO"
  MONGO_INITDB_ROOT_PASSWORD: "TU_CONTRASEÑA"
  MONGO_DB_NAME: "TU_BASE_DE_DATOS"
  MONGO_URI: "mongodb://TU_USUARIO:TU_CONTRASEÑA@mongo:27017/TU_BASE_DE_DATOS?authSource=admin"
